<form [formGroup]="pokemonForm" (ngSubmit) = "onSubmit()" class>


    <button type="button" class="btn-close" aria-label="Close" (click)="closeForm()"></button>

<div class="mb-3">
    <label for="Name" class="form-label"> Name </label>
    <input id="Name" type="text" formControlName="Name" class="form-control">
</div>
<div class="mb-3">
    <label for="Generation" class="form-label"> Generation </label>
    <input id="Generation" type="number" formControlName="Generation" class="form-control">
</div>
<div class="mb-3">
    <label for="PokedexNo" class="form-label"> PokedexNo </label>
    <input id="PokedexNo" type="number" formControlName="PokedexNo" class="form-control">
</div>
<div class="mb-3">
    <label for="Type" class="form-label">Type</label>
    <input id="Type" type="text" formControlName="Type" class="form-control">
</div>
<div class="mb-3">
    <label for="_id" class="form-label">ID</label>
    <input id="_id" type="number" formControlName="_id" class="form-control">
</div>

<button type="submit" [disabled]= "!pokemonForm?.valid" class="btn btn-primary" >Submit</button>

<div *ngIf="Name?.invalid && Generation?.touched"  class="alert alert-danger" >
    Title is required and must be more than 3 characters
</div>
<div *ngIf="Name?.invalid && Generation?.touched"  class="alert alert-danger" >
    Please Fill In Details
</div>


</form>